
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    
</head>
<body>
    <header>
    <div class="wrapper">
        
<ul class="nav-area">
    <li><a class="homeblack" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
    <li><a class="homeblack" routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Sign-Up</a></li>
    <li><a class="homeblack" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact us</a></li>
    
    
   



</ul>
</div>
<div class="welcome-text">
        <h1>
 <span>To Do Application</span></h1>
 <h3><mark>“Subtracting from your list of priorities is as important as adding to it.” </mark></h3>

    </div>
</header>

</body>
</html>
